# Ignore VS Code extensions
.vscode/extensions/

# Ignore Windows AppData
AppData/

# Ignore virtual environment
.venv/

# Ignore Jupyter checkpoints or temporary files
.ipynb_checkpoints/
__pycache__/
*.pyc